<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar navbar-light" style="background-color: rgb(217, 145, 235);">
        <div class="container">

            <a href="{{url_for('bp.homepage')}}" class="navbar-brand text-light">
                Luxe Beauty
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
                aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button> 
            <hr>
           
            <!-- Navbar -->
            <div class="collapse navbar-collapse" id="navbarToggler">
                <div class="navbar-nav ml-auto">
                    <a class="nav-item text-light nav-link" href="{{url_for('bp.homepage')}}">Home</a>
                    <a class="nav-item text-light nav-link" href="{{url_for('bp.view_cart_items')}}"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i>&nbsp;Cart <span id="cart-count"></span></a>
            {% if current_user.is_anonymous %}
                    <a class="nav-item text-light nav-link" href="{{url_for('bp.login')}}"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;Login</a>
            {% else %}
                <a class="nav-item text-light nav-link" href="{{url_for('bp.logout')}}">Hi, {{ current_user.username }} &nbsp;<i class="fa fa-user" aria-hidden="true"></i>&nbsp;Logout</a>
            {% endif %}
                    

                </div>
            </div>
            <input type="hidden" name="user_id" id="user_id" value="{{current_user.id}}">
        </div>
    </nav>
    <div class="container">
        <div class="row justify-content-center">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        </div>
    </div>

    {% block content %}

    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
</body>
</html>